* {
	margin: 0;
	padding: 0;
}

html, body {
	width:100%;
	height:100%;
	font-family: "Quantico", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px;
}

table.fitTable {
	clear:both;
	border:none;
	width:100%;
	height:100%;
	text-align:center;
	color:#666;
}
table.fitTable thead tr th {
	color:#fff;
	background:#808080;
	border-left:1px solid #fff;
	border-bottom:1px solid #fff;
}
table.fitTable tbody tr.total th {
	color:#222;
}
table.fitTable thead th:first-child {
	border-radius:5px 0 0 0;
}
table.fitTable thead th:last-child {
	border-radius:0 5px 0 0;
}
table.fitTable tbody tr.total th:first-child {
	border-radius:0 0 0 5px;
}
table.fitTable tbody tr.total td:last-child {
	border-radius:0 0 5px 0;
}
table.fitTable tbody td, 
table.fitTable tbody th {
	background:#F2F2F2;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
}
table.fitTable tbody th {
	color:#404040;
	background:#F2F2F2;
}
table.fitTable tbody th.odd, table.fitTable tbody td.odd {
	background:#E6E6E6;
}
table.fitTable tbody tr.total th, 
table.fitTable tbody tr.total td {
	background:#ccc;
}